<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.letngo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetnGo"
        tools:targetApi="31">
        <activity
            android:name="nav.categories.recycleview.Postlist"
            android:exported="false" />
        <activity
            android:name=".PersonalInfo1Activity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name="nav.account.privacy.PrivacyPolicy4"
            android:exported="false" />
        <activity
            android:name="nav.account.privacy.PrivacyPolicy3"
            android:exported="false" />
        <activity
            android:name="nav.account.privacy.PrivacyPolicy2"
            android:exported="false" />
        <activity
            android:name="nav.account.privacy.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name="nav.account.support.letngo_support2"
            android:exported="false" />
        <activity
            android:name="nav.account.Feedback"
            android:exported="false" /> <!-- <meta-data android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyCCEOC9mmgv4YOsEmimr0scnRApzJcsxQ0"/> -->
        <activity
            android:name="nav.account.help.GetHelp"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Experience_Host4_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Experience_Host3_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Experience_Host2_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Experience_Host1_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Host4_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Host3_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Host2_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Host1_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Guest4_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Guest3_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Guest2_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.help.Guest1_Get_Help"
            android:exported="false" />
        <activity
            android:name="nav.account.safety.guidance_click"
            android:exported="false" />
        <activity
            android:name="nav.account.safety.advice_click"
            android:exported="false" />
        <activity
            android:name="nav.account.safety.safety_center"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="nav.account.hosting.Manage_Hosting"
            android:exported="false" />
        <activity
            android:name="nav.account.support.Terms_Services"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- &lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt; -->


            <!-- &lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="nav.account.notif.notif_settings5"
            android:exported="false" />
        <activity
            android:name="nav.account.notif.notif_settings4"
            android:exported="false" />
        <activity
            android:name="nav.account.notif.notif_settings3"
            android:exported="false" />
        <activity
            android:name="nav.account.notif.notif_settings2"
            android:exported="false" />
        <activity
            android:name="nav.account.notif.notif_settings1"
            android:exported="false"
            android:label="@string/title_activity_notif_settings1"
            android:theme="@style/Theme.LetnGo.NoActionBar" />
        <activity
            android:name=".location"
            android:exported="false" />
        <activity
            android:name="nav.notifications.All_Reservation"
            android:exported="false" />
        <activity
            android:name="nav.notifications.Upcoming"
            android:exported="false" />
        <activity
            android:name="nav.notifications.Arriving_Soon"
            android:exported="false" />
        <activity
            android:name="nav.notifications.Currently_Hosting"
            android:exported="false" />
        <activity
            android:name="nav.notifications.Checking_out"
            android:exported="false" />
        <activity
            android:name="nav.account.security.security3"
            android:exported="false" />
        <activity
            android:name="nav.account.security.security2"
            android:exported="false" />
        <activity
            android:name="nav.account.security.security1"
            android:exported="false" />
        <activity
            android:name="nav.account.security.security"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".sharing_privacy"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="nav.account.payment.payment_homepage24"
            android:exported="false" />
        <activity
            android:name="nav.account.payment.payment_homepage23"
            android:exported="false" />
        <activity
            android:name="nav.account.payment.payment_homepage22"
            android:exported="false" />
        <activity
            android:name="nav.account.payment.payment_homepage21"
            android:exported="false" />
        <activity
            android:name="nav.account.payment.Payment_Homepage20"
            android:exported="false" />
        <activity
            android:name="nav.account.payment.payment"
            android:exported="false" />
        <activity
            android:name="nav.account.hosting.hosting_success"
            android:exported="false" />
        <activity
            android:name="nav.account.hosting.hosting_checking_description"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="nav.account.hosting.hosting_final_description"
            android:exported="false" />
        <activity
            android:name="nav.account.hosting.new_Hosting"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="nav.account.hosting.Hostinglist"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="nav.account.hosting.hosting_next"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="login.system.UserHompage"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="nav.account.Timeline"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="nav.account.hosting.start_hosting"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Change_password"
            android:exported="false" />
        <activity
            android:name="nav.categories.sub_island"
            android:exported="false" />
        <activity
            android:name="nav.categories.sub_cabin"
            android:exported="false" />
        <activity
            android:name="nav.categories.sub_countryside"
            android:exported="false" />
        <activity
            android:name="nav.categories.sub_caves"
            android:exported="false" />
        <activity
            android:name="nav.categories.sub_camping"
            android:exported="false" />
        <activity
            android:name="nav.categories.sub_treehouse"
            android:exported="false" />
        <activity
            android:name=".GuestMessage"
            android:exported="false" />
        <activity
            android:name="nav.categories.sub_beach"
            android:exported="false" />
        <activity
            android:name="nav.account.support.letngo_support"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="login.system.new_signup"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="login.system.new_login"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="nav.account.Edit_Profile"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
        </activity>
        <activity
            android:name="nav.notifications.Safety_notice"
            android:exported="false" />
        <activity
            android:name="nav.notifications.Travel_Offers"
            android:exported="false" />
        <activity
            android:name="nav.notifications.Travel_Tips"
            android:exported="false" />
        <activity
            android:name=".Whats_New"
            android:exported="false" /> <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <activity
            android:name="login.system.forgot_password"
            android:exported="false" />
        <!--<activity android:name="nav.newsfeed.messages" /> android:exported="false" -->
        <activity android:name="nav.categories.HomePage" /> <!-- android:exported="true" -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>